
<!-- /{# heredando header y footer #} -->

{% extends "./plantilla.html" %}
  {%  block contenido %}
{%  load static %}
<br>
        <h1 class="text-center"> ASIGNATURA  </h1>
        <br>
        <div class="row">
          <div class="col-md-5">
            <div class="container">
              <form class="" action="/guardarCliente/" method="post" enctype="multipart/form-data" id="frm_nuevo_cliente">
                                                                                                <!-- < !-- agragado 11/01/2024 -->
                {% csrf_token %}

              <input type="text" name="nombreAsignaturaEVCA" id="nombreAsignaturaEVCA" value="" placeholder="Ingrese el nombre de la asignatura" class="form-control" required>
              <br>
              <input type="number" name="creditosAsignaturaEVCA" id="creditosAsignaturaEVCA" value="" placeholder="Ingrese los creditos de la asignatura" class="form-control" required>
              <br>
              <input type="date" name="fechaInicioAsignaturaEVCA" id="fechaInicioAsignaturaEVCA" value="" placeholder="Ingrese la fecha q inicio" class="form-control" required>
              <br>
              <input type="date" name="fechaFinalizacionAsignaturaEVCA" id="fechaFinalizacionAsignaturaEVCA" value="" placeholder="Ingrese la fecha de finalizacion" class="form-control" required>
              <br>
              <input type="text" name="profesorAsignaturaEVCA" id="profesorAsignaturaEVCA" value="" placeholder="Ingrese el nombre del profesor" class="form-control" required>
              <br>
              <input type="file" name="silaboAsignaturaEVCA" id="silaboAsignaturaEVCA" value="" placeholder="Ingrese el silabo" class="form-control" accept=".pdf" required>
              <br>
              <input type="text" name="horas_semanalesAsignaturaEVCA" id="horas_semanalesAsignaturaEVCA" value="" placeholder="Ingrese sus horas semanales" class="form-control" required>
              <br>
              <select class="form-control" name="estadoAsignaturaEVCA" required>
                <option value=""> --- ESTADO DE LA ASIGNATURA ---- </option>
                <option value="ACTIVO"> ACTIVO </option>
                <option value="INACTIVO"> INACTIVO </option>

              </select>
              <br>
              <center>
              <button type="submit" name="button" class="btn btn-primary"><i class="fa-solid fa-check"></i> Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" name="button" class="btn btn-danger"><i class="fa-solid fa-xmark"></i>Cancelar</button>


              </form>
            </div>
          </div>
        <div class="col-md-7">
          <table class="table table-success" id="tbl_clientes">
            <thead>
              <td>ID</td>
              <td>ASIGNATURA</td>
              <td>CREDITOS</td>
              <td>FECHA_INICIO</td>
              <td>FECHA_FINAL</td>
              <td>PROFESOR</td>
              <td>SILABO</td>
              <td>HORAS_SEMANALES</td>
              <td>ESTADO</td>
              <td>ACCIONES</td>

            </thead>
            <tbody>
              {% for asignaturaEVCA in asignaturaEVCAs %}
                <tr>
                  <td>{{asignaturaEVCA.idAsignaturaEVCA}}</td>
                  <td>{{asignaturaEVCA.nombreAsignaturaEVCA}}</td>
                  <td>{{asignaturaEVCA.creditosAsignaturaEVCA}}</td>
                  <td>{{asignaturaEVCA.fechaInicioAsignaturaEVCA}}</td>
                  <td>{{asignaturaEVCA.fechaFinalizacionAsignaturaEVCA}}</td>
                  <td>{{asignaturaEVCA.profesorAsignaturaEVCA}}</td>
                  <td>{{asignaturaEVCA.silaboAsignaturaEVCA}}</td>
                  <td>{{asignaturaEVCA.horas_semanalesAsignaturaEVCA}}</td>
                  <td>{{asignaturaEVCA.estadoAsignaturaEVCA}}</td>
                  <td>
                    <a href="/editarAsignaturaEVCA/{{asignaturaEVCA.idAsignaturaEVCA}}" class="btn btn-warning" ><i class="fa-regular fa-newspaper"></i> Editar</a> &nbsp;&nbsp;
                    <a href="javascript:void(0)"onclick="eliminarAsignaturaEVCA('/eliminarAsignaturaEVCA/{{asignaturaEVCA.idAsignaturaEVCA}}');"class="btn btn-danger"><i class="fa-solid fa-trash"></i>Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>

          </table>

          <ul>

          </ul>
        </div>

        </div>

<script type="text/javascript">
    function eliminarCliente(url){
      iziToast.question({
          timeout: 15000,
          close: true,
          overlay: true,
          displayMode: 'once',
          id: 'question',
          zindex: 999,
          title: 'CONFIRMACIÓN',
          message: '¿Está seguro de eliminar la Asignatura?',
          position: 'center',
          buttons: [
              ['<button><b>SI</b></button>', function (instance, toast) {
                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  window.location.href=url;
              }, true],
              ['<button>NO</button>', function (instance, toast) {

                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

              }],
          ]
      });
    }

  </script>
  <br>
  <script type="text/javascript">
         $("#frm_nuevo_cliente").validate({
           rules:{
              "nombreAsignaturaEVCA":{
                required:true,
                minlength:2,
                maxlength:150,
                letras:true,
              },
              "creditosAsignaturaEVCA":{
                required:true
              },
              "fechaInicioAsignaturaEVCA":{
                required:true
              }
              "fechaFinalizacionAsignaturaEVCA":{
                required:true
              }
              "profesorAsignaturaEVCA":{
                required:true
              }
              "silaboAsignaturaEVCA":{
                required:true
              }
              "horas_semanalesAsignaturaEVCA":{
                required:true
              }
              "estadoAsignaturaEVCA":{
                required:true
              }
           },
           messages:{
             "nombreAsignaturaEVCA":{
               required:"Debe ingresar el nombre de la asignatura"
             },
             "creditosAsignaturaEVCA":{
               required:"Debe ingresar la una descripcion del genero literario"
             },
             "fechaInicioAsignaturaEVCA":{
               required:"Debe ingresar la una descripcion del genero literario"
             },
             "fechaFinalizacionAsignaturaEVCA":{
               required:"Debe ingresar la una descripcion del genero literario"
             },
             "profesorAsignaturaEVCA":{
               required:"Debe ingresar la una descripcion del genero literario"
             },
             "silaboAsignaturaEVCA":{
               required:"Debe ingresar la una descripcion del genero literario"
             },
             "horas_semanalesAsignaturaEVCA":{
               required:"Debe ingresar la una descripcion del genero literario"
             },
             "estadoAsignaturaEVCA":{
               required:"Seleccione la fotografia del genero literario"
             }
           }
         });
</script>
<br>


  <script type="text/javascript">
          $('#tbl_clientes').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    messageTop: 'REPORTE DE ASIGNATURAS - DJANGO Y DATATABLES.'
                },
                'print',
                'csv'
            ]
          } );
        </script>



{% endblock %}


<!--
      <li></li>
   -->
