table{
  border: 2px solid pink !important;
}


h1 {
  font-family: "Homer Simpson UI";
  color:rgb(245, 47, 65);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: bold;
}


label.error{
  color:red;
  front-weight: bold;

}

input.error, select.error, textarea.error{border: 1px solid red;}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

footer {
  background-color:rgba(234, 4, 78);
  color: #fff;
  padding: 15px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info,
.social-media {
  flex: 1;
  text-align: center;
}

.contact-info h3,
.social-media h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.social-media a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

.social-media a:hover {
  color: #ffcc00;
}

.copyright {
  margin-top: 20px;
  text-align: center;
}
